Facultate/Anul 2/Sem 2/AI/Laburi/Lab 4/fisier.env
Facultate/Anul 2/Sem 2/AI/Laburi/Lab 8/models/GoogleNews-vectors-negative300.bin
Facultate/Anul 2/Sem 2/AI/Laburi/Lab 8/data/IMDB Dataset.csv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/33.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/32.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/31.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/30.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/29.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/28.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/27.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/26.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/25.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/24.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/23.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/22.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/21.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/20.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian/files/19.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/19.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/20.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/21.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/22.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/23.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/24.mp4
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/25.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/26.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/27.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/28.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/29.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/30.webm
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/31.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/32.mkv
Facultate/Anul 2/Sem 2/SGBD/Obsidian SGBD/files/33.webm
