
Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea/Lab 7-9.iml
Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea/Lab 7-9.iml
Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea/Lab 7-9.iml
Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea/Lab 7-9.iml
/Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea
/Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea
Facultate/Anul 1/Sem 1/FP/Lab 7-9/.idea/misc.xml
Facultate/Anul 1/Sem 1/FP/Lab 7-9/business/__pycache__/__init__.cpython-313.pyc
/.idea
Facultate/Anul 1/Sem 1/FP/Lab 7-9/business/__pycache__/service_film.cpython-313.pyc
*.pyc
