.top-form{
    -fx-background-color: #fff;
    -fx-border-color:#000;
    -fx-border-width:0.4 0.4 0.4 0.4;
}
.left-form{
    -fx-background-color:linear-gradient(to bottom, #8B1BE4,#031AFC);
    -fx-border-color : #000;
    -fx-border-width : 2.5px;
}
.button{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill: #000;
    -fx-font-size:20px;
    -fx-font-family:"Arial";
}
.user-button{
    -fx-background-color:linear-gradient(to left, #8B1BE4,#031AFC);
    -fx-background-radius:10px;
}
.button:hover{
    -fx-background-color: linear-gradient(to left, #9B4EFF, #2E4EFF);
    -fx-background-radius:10px;
}
.white-background{
    -fx-background-color:#fff;
    -fx-background-radius:20px;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),6,0,0,0);
}
.top-labels{
    -fx-background-color : linear-gradient(to right, #8B1BE4, #A249E9);
    -fx-background-radius: 15px;
    -fx-border-color:#000;
    -fx-border-radius:15px;
    -fx-border-width : 2.5;
}
.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color : linear-gradient(to left, #8B1BE4,#031AFC);
    -fx-border-radius : 10px;
    -fx-border-width : 2px;
}
.table-view .column-header-background{
    -fx-background-color : linear-gradient(to left, #8B1BE4,#031AFC);
    -fx-background-radius : 7px;
    -fx-background-inset : 0px;
}
.table-view .column-header, .filter{
    -fx-background-color : transparent;
    -fx-size : 40px;
}
.table-view .column-header .label{
    -fx-text-fill : #fff;
    -fx-font-family : "Arial";

}